<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- reset-css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css"
    />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icon_names=account_circle" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/index.css" />
    <script defer src="/public/main.js"></script>
  </head>
  <body>
    <!-- prettier-ignore -->
    <header>
        
        <div class="inner">
            <div class="title-menu">
                <div class="title-menu-item">
                  <div class="material-icons">edit_note</div>
                </div>
                <div class="title-menu-item">
                  <div class="material-icons">account_circle</div>
                </div>
            </div>
        </div>
        
    </header>
    <!-- prettier-ignore -->
    <section class="user-name">
        <div class="inner">
            <h1>텍스트 영역 입니다.</h1>
             
        </div>
    </section>
    <!-- prettier-ignore -->
    <section class="menu">

        <div class="inner">
          <div class="menu-container">
            <div class="menu-item menu-1 mbg1">
              <div class="word-container c1">
                <div class="word w1">
                  <h1 class="menu-height">시간표 <br>보러가기</h1>
                </div>
                <div class="icon i-left">
                  <div class="material-icons">arrow_forward</div>
                  
                </div>
              </div>
            </div>
            <div class="menu-item menu-1 mbg2">
              <div class="word-container c1">
                <div class="word w2">
                  <h1 class="menu-height">시간표 <br>수정하기</h1>
                </div>
                <div class="icon i-right">
                  <div class="material-icons">arrow_forward</div>
                </div>
            </div>
          </div>
          <div class="menu-item menu-2 mbg3" >
            <div class="word-container c2">
              <div class="word w3">
                <h1 class="menu-height">급식 보러가기</h1>
              </div>
              <div class="icon i-bottom">
                <div class="material-icons">arrow_forward</div>
              </div>
          </div>
        </div>

    </section>

    <footer></footer>
  </body>
</html>
