<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- reset-css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css"
    />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icon_names=account_circle"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <!-- prettier-ignore -->
    <header>
        
      <div class="inner">
          <div class="title-menu">
              <div class="title-menu-item">
                <div class="material-icons">edit_note</div>
              </div>
              <div class="title-menu-item">
                <div class="material-icons">account_circle</div>
              </div>
          </div>
      </div>
      
  </header>

    <!-- prettier-ignore -->
    <section class="timetable">

    <div class="inner">
      <div class="main-board">
        <div class="grid-none"></div>
        <div class="grid-week">
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
        </div>
        <div class="grid-time">
          <div class="time"></div>
          <div class="time"></div>
          <div class="time"></div>
          <div class="time"></div>
          <div class="time"></div>
          <div class="time"></div>
          <div class="time"></div>
        </div>
        <div class="grid-subject">
          <div class="subject-column">
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
          </div>
          <div class="subject-column">
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
          </div>
          <div class="subject-column">
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
          </div>
          <div class="subject-column">
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
          </div>
          <div class="subject-column">
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
          </div>
          <div class="subject-column">
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
          </div>
          <div class="subject-column">
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
            <div class="subject"></div>
          </div>
        </div>
      </div>
    </div>

  </section>
  </body>
</html>
